body {
    font-family: 'Arial', sans-serif; 
    font-size: 1rem;
}

.hero {
    background-color: #f0f5f8; /* Adjust color if needed */
    padding: 80px 0;
}

.navbar-nav .nav-item:last-child {
    margin-right: 30px; /* Adjust the spacing as needed */
}

.dropdown-menu {
    background-color: #f8f9fa;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }

  @media (max-width: 768px) { 
    .article-with-spacing {
      padding-left: 10px;
      padding-right: 10px;
    }
  }